{% extends 'home/base.html' %}
{% block title %}
  Удаление статьи
{% endblock %}

{% block body %}
  <h3>Вы точно хотите удалить статью "{{ object.title }}" ?</h3>
  <form method="post" class="form-register auth">
    {% csrf_token %}
    <button class="btn btn-outline-danger" type="submit">Да, удалить</button>
    <a href="{% url 'news-detail' object.id %}">Нет, отмена</a>
    <hr>
  </form>

{% endblock %}

{% block aside %}
  <h3 class="mt-2 mb-3">Интересные статьи:</h3>
  <img src="/pictures/news/1.jpg" style="width:450px; height:320px;" class="img-thumbmail mb-2">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <a href="https://hvost.news/animals/dogs-feeding/chuvstvitelnoe-pishchevarenie-u-sobak/">
    <button class="btn btn-warning mb-3">Посмотреть</button>
  </a>

  <img src="/pictures/news/2.jpg" style="width:450px; height:320px;" class="img-thumbmail mt-4 mb-2">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <a href="https://hvost.news/animals/dogs-raising/kak-vystroit-granitsy-v-obshchenii-so-shchenkom/">
    <button class="btn btn-warning mb-3">Посмотреть</button>
  </a>
{% endblock %}