{% extends 'home/base.html' %}
{% block title %}
  Востановление пароля
{% endblock %}

{% block body %}
  <h1>Письмо успешно отправлено</h1>
<p>Вам на почту было отправлено письмо</p>

{% endblock %}

{% block aside %}
  <h4 class="mt-2">Интересные статьи</h4>
  <img src="https://s1.1zoom.ru/prev2/565/Dogs_Nova_Scotia_Duck_Tolling_Retriever_Puppy_564154_300x198.jpg" class="img-thumbmail">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <a href="https://unsplash.com/s/photos/dog?order_by=latest&orientation=landscape">
    <button class="btn btn-warning">Посмотреть</button>
  </a>

  <img src="https://otv-media.ru/upload/iblock/24a/24a2218e4fc26105d4f051ba9e957a2b.jpg" class="img-thumbmail mt-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <a href="https://unsplash.com/s/photos/dog?order_by=latest&orientation=landscape">
    <button class="btn btn-warning">Посмотреть</button>
  </a>
{% endblock %}