{% extends 'home/base.html' %}
{% block title %}
  Кабинет пользователя
{% endblock %}

{% block body %}
  <div class="form-section">
  <h1>Кабинет пользователя</h1>
  <div class="media text-muted pt-3">
      <img class="bd-placeholder-img mr-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
        {% if user.email %}
    <b>Email: </b>{{ user.email }}
    {% endif %}
      </p>
    </div>

    <h3 class="mt-4">Изменить данные про пользователя</h3>
    <form method="post" enctype="multipart/form-data" class="form-register mt-4">
      {% csrf_token %}
      {{ updateUserForm.as_p }}
      {{ profileForm.as_p }}
      <button class="btn btn-outline-warning" type="submit">Обновить</button>

    </form>
  </div>
{% endblock %}

{% block aside %}
  <h3 class="mt-2 mb-3">Интересные статьи:</h3>
  <img src="pictures/news/1.jpg" style="width:240px; height:180px;" class="img-thumbmail mb-2">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <a href="https://hvost.news/animals/dogs-feeding/chuvstvitelnoe-pishchevarenie-u-sobak/">
    <button class="btn btn-warning mb-3">Посмотреть</button>
  </a>
  <br>

  <img src="pictures/news/2.jpg" style="width:240px; height:180px;" class="img-thumbmail mt-4 mb-2">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <a href="https://hvost.news/animals/dogs-raising/kak-vystroit-granitsy-v-obshchenii-so-shchenkom/">
    <button class="btn btn-warning mb-3">Посмотреть</button>
  </a>
{% endblock %}